<div class="mb-4 d-flex gap-2">
  <%= link_to "Nouveau Potin", new_gossip_path, class: "btn btn-info" %>
  <%= link_to "Voir tous les utilisateurs", users_path, class: "btn btn-info" %>
  <%= link_to "Inscription", new_user_path, class: "btn btn-info" %>
</div>

<p>Nombre de potins : <%= @gossips.count %></p>

<div class="container my-4">
  <h2 class="mb-4">Bienvenue sur The Gossip Project !</h2>

  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= gossip.title %></h5>
            <p class="card-text">
              <strong>Auteur :</strong>
              <%= link_to gossip.user.first_name, user_path(gossip.user), class: 'text-decoration-none' %>
            </p>
            <%= link_to "Voir le potin", gossip_path(gossip), class: "btn btn-outline-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


