<div class="container">
  <h1>Profil de <%= @user.first_name %> <%= @user.last_name %></h1>

  <p><strong>Email :</strong> <%= @user.email %></p>
  <p><strong>Ville :</strong> <%= @user.city.name if @user.city %></p>

  <hr>
  <h3>Ses potins :</h3>
  <% @user.gossips.each do |gossip| %>
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title"><%= gossip.title %></h5>
        <p class="card-text"><%= gossip.content.truncate(100) %></p>
        <%= link_to 'Voir ce potin', gossip_path(gossip), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
