<h2>Créer un nouveau potin</h2>

<%= form_with model: @gossip, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title, "Titre" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :content, "Contenu" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

<div class="mb-3">
  <%= f.label :user_id, "Auteur" %>
  <%= f.collection_select :user_id, User.all, :id, :first_name, class: "form-select" %>
</div>

  <%= f.submit "Créer", class: "btn btn-success" %>
<% end %>
